/* 個別記事内のテキストリンク */
div.entry-content a {
  color: #0044CC;  /* 落ち着いた青色 */
  text-decoration: none;
}

div.entry-content a:hover {
  color: #0044CC;
  text-decoration: underline;
}

/* google adsense */
ins { /* insを使っているのはアドセンスだけ（たぶん） */
    margin-bottom: 2em;
}

.ads-title {
    color: gray;
    font-size: 80%;
}

/* ページ下部 */
#bottom-editarea {
    margin: 1em;
}

/* アクセントカラー指定箇所（デフォルトは緑） */
a:hover {
  color: deeppink;
}
#blog-title h1 a:hover {
  color: deeppink;
}
#top-box .breadcrumb a:hover {
  color: deeppink
}
.categories a:hover {
  border-bottom: 2px solid deeppink
}
.entry .entry-category a:hover {
  border: 1px solid deeppink
}
.pager a:hover {
  color: deeppink
}
a.keyword:hover {
  border-color: deeppink
}
.leave-comment-title:hover {
  color: deeppink
}
.leave-comment-title:hover:before {
  color: deeppink;
  content: '\f075'
}
#footer a:hover {
  color: deeppink;
}

/* カエレバ */
.kaerebalink-box {
  background-color: #fafafa; /* 全体の背景カラー */
}
/* ------------------------------------------------- */

