/* 個別記事内のテキストリンク */
div.entry-content a {
  color: #0044CC;
  text-decoration: none;
}

div.entry-content a:hover {
  color: #444;
  text-decoration: underline;
}

/* google adsense */
ins { /* insを使っているのはアドセンスだけ（たぶん） */
    margin-bottom: 2em;
}

.ads-title {
    color: gray;
    font-size: 80%;
}

/* ページ下部 */
#bottom-editarea {
    margin: 1em;
}
